a {
  text-decoration: none;
}

h1 {
  font-family: 'Gloock', serif;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

body {
  color: #494949;
  font-size: 18px;
  font-family: 'Gloock', serif;
  font-weight:  lighter;
  line-height: 1.6;
}

.container {
  margin: 50px auto;
  width: 450px;
}

.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.link-medium {
  background-color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic
}

/* Media queries */
@media(max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}
